<configuration>

    <conversionRule conversionWord="hc" converterClass="org.glytching.sandbox.logging.HashCodeConverter"/>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>hash-code-converter-it.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%hc] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.glytching.sandbox.logging.HashCodeConverterIT" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
